.markdown-body {
	line-height: 1.4em;
}

.markdown-body h1 {
	font-size: 1.1em;
	font-weight: bold;
}

.markdown-body h2 {
	font-size: 1em;
	font-weight: 500;
}

.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
	font-size: 0.9em;
	font-weight: 500;
}

.markdown-body p {
	margin: 0.25rem 0;
	word-wrap: break-word;
}

.markdown-body pre {
	background: var(--color-code-bg);
	border-radius: 4px;
	border: 1px solid var(--color-code-border);
	overflow-x: auto;
	padding: 0.5rem;
}

.markdown-body code {
	background: var(--color-code-inline-bg);
	border-radius: 5px;
	border: 1px solid var(--color-code-border);
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
	font-size: 0.8em;
	padding: 0.2rem 0.4rem;
	overflow-wrap: anywhere;
	word-break: break-word;
}

.markdown-body pre code {
	border: 0px;
	background: none;
	padding: 0.2rem 0.4rem;
	border-radius: 5px;
}

.markdown-body ul,
.markdown-body ol {
	padding-left: 1.2rem;
}
