.markdown-body h1 {
	font-size: 1.1em;
	font-weight: bold;
}

.markdown-body h2 {
	font-size: 1em;
	font-weight: 500;
}

.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
	font-size: 0.9em;
	font-weight: 500;
}

.markdown-body p {
	margin: 0.25rem 0;
}

.markdown-body pre {
	overflow-x: auto;
	padding: 0.5rem;
	background: rgb(0, 0, 0, 0.03);
	border-radius: 4px;
}

.markdown-body code {
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
	font-size: 0.8em;
}
